[defaults]
inventory          = inventory/hosts.yml
roles_path         = roles
remote_user        = ipolishchuk
host_key_checking  = true
retry_files_enabled = false

[privilege_escalation]
become             = true
become_method      = sudo

[ssh_connection]
pipelining = true
